{{top-nav logout=(action "logout")}}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#" {{action "filterTask" 0}}>
              <span data-feather="home"></span>
              All <span class="sr-only">(current)</span>
            </a>
          </li>
          {{#each model.label as |label|}}
            <li class="nav-item">
              <a class="nav-link active" href="#" {{action "filterTask" label.id}}>
                <span data-feather="home"></span>
                {{label.name}} <span class="sr-only">(current)</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      {{#if this.isListView}}
        <form {{action "createTask" on="submit"}}>
          <div class="form-group mt-5">
            {{input type="text" class="form-control" value=title placeholder="Enter Task Title"}}
            {{!-- {{create-task title=title}} --}}
            <div class="error">{{createTaskErr.title}}</div>
            {{!-- {{validated-input type="text" value=title placeholder="Enter Task Title" valuePath="title" model="task"}} --}}
            <button type="submit" class="btn btn-primary mt-2" {{action "createTask"}}
              disabled={{isCreateTaskDisabled}}>Create
              Task</button>
          </div>
        </form>
        <div class="table-responsive">
          {{#each taskList as |task|}}
            {{task-list-item
              task=task
              edit=(action "edit")
              toggleStar=(action "toggleStar")
              toggleComplete=(action "toggleComplete")}}
          {{/each}}
        </div>
      {{else if this.isEditView}}
        {{edit-task
          task=activeTask
          labels=model.label
          toggleLabel=(action "toggleLabel")
          deleteRecord=(action "deleteRecord")
          update=(action "update")}}
      {{/if}}
    </main>
  </div>
</div>