{{input placeholder="name" value=name}} <br />
{{input placeholder="email" value=email}} <br />
{{input placeholder="password" value=password type="password"}} <br />
<p>{{err}}</p>
<button {{action 'registerUser'}}>Register</button>